<!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta name="referrer" content="origin">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Météo du moment</title>

    <link rel="stylesheet" href="/dist/semantic.min.css" type="text/css">
  </head>
  <body>
    <div class="ui inverted segment">
      <div class="ui inverted">
        <h3><a style="color: white;" href="/">Météo du moment...</a></h3>
      </div>
    </div>
