<%- include ("header") %>

Search...
<div class="ui loading search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Recherche...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<%- include ("footer") %>
